:root {
  --color-bg: #333333;
  --color-error: rgb(255, 141, 141);
  --arrow-size: .4rem;
}

* {
    box-sizing: border-box;
}

body, button {
    font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;;
    color: #ffffff;
}

button, input, label {
  font-size: .875rem;
}

.metadata {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0.125;
  font-size: .75rem;
  font-style: italic;
}

header {
  padding-bottom: 1rem;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}


button{
  background: white;
  box-shadow: 2px 2px 0 black;
  border: 2px solid black;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-weight: 600;
  letter-spacing: .03em;
  color: var(--color-bg);
}

button[data-remove]{
  border-color: var(--color-error);
  background: transparent;
  color: var(--color-error);
}

.main-controls, .map-controls {
  border: 1px solid black;
  position: fixed;
  top: 1rem;
  z-index: 1000;
  background: rgba(51, 51, 51, 0.75);
  border-radius: .5rem;
}

.main-controls {
  padding: 1rem;
  width: 20rem;
  left: 1rem;
  bottom: 1rem;
  background: rgba(51, 51, 51, 0.75);
  overflow-y: auto;
}

.main-controls section {
  padding: 1rem 0 2rem 0;
  border-top: 1px solid black;
}

.main-controls ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-controls.collapsed {
  bottom: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.main-controls.collapsed header {
  padding: 0;
}


.main-controls.collapsed .main-controls-content {
  display: none;
}

.btn-toggle {
  background-color: rgba(51, 51, 51, 0.75);
  color: white;
}


.character-list-item {
  background-color: rgba(51, 51, 51, 0.75);
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;;
  border-radius: .25rem;
  margin: 0.75rem 0;
}

.character-list-item__trigger {
  padding: .5rem;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  box-shadow: none;
  font-size: 1rem;
  word-break: break-word;
  letter-spacing: 0em;
}

.character-list-item__thumbnail {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.character-list-item__content {
  border-top: 1px solid black;
  padding: .5rem;
}

.character-list-item__content.closed {
  display: none;
}

.map-controls {
  padding: 0.5rem 1rem;
  right: 1rem;
  display: flex;
}

.map-controls label {
  margin: 0;
}

.map-controls div + div {
  margin-left: 2rem;
}

.form-field {
  padding: 0.25rem 0;
}

label, input{
  display: block;
}

label {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

input {
  color: var(--color-bg);
  padding: .25rem;
  width: 100%;
}

input[type="number"] {
  max-width: 3.5rem;
}

input[type="color"] {
  border: none;
  padding: 0;
  height: 1.75rem;
  width: 3rem;
}

input[type="file"] {
  color: white;
  padding: 0;
}

.empty {
  text-align: center;
  padding: 1rem;
  font-style: italic;
}

.content {
  position: relative;
  padding-top: 5rem; 
  /* leave room up top for controls when zoomed out */
}

.new-character-box {
  text-align: center;
}

.piece {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.piece-content {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 2px black;
  background-size: cover;
}

.piece-label {
  padding: 0.125rem;
  margin-top: .25rem;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: normal;
  white-space: nowrap;
  max-width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;

  letter-spacing: 0.03em;
}

.grid-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.grid-row-align-end {
  align-items: flex-end;
}

.grid-col {
  flex: 1 1 auto;
}

.grid-col-auto {
  flex: 0 0 auto;
}

.arrow {
  width: 0; 
  height: 0; 
}

.arrow-down {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-top: var(--arrow-size) solid white;
}

.arrow-up {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid white;
}

.error {
  color: var(--color-error);
  font-style: normal;
}