:root {
    --piece-size: 40px;
    --color-bg: #e8e8e8;
    --color-bg-dark: #d0aa8a;
    --color-text: #180C00;
}

* {
    box-sizing: border-box;
}

/* *:focus {
    outline: 3px solid rgb(204, 1, 1);
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

main {
    padding: 1rem;
}

button {
    background: var(--color-bg);
    box-shadow: 2px 2px 0 var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: .25rem;
    padding: .25rem .5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .875em;
}


button:active:not(.piece) {
    background: var(--color-bg-dark);;
    box-shadow: 0px 0px 0 var(--color-text);
}

input {
    border: 2px solid var(--color-text);
    border-radius: .25rem;
    padding: .25rem;
    font-size: .875em;
}


.controls {
    padding: 1rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

fieldset {
    display: inline-block;
    padding: 1rem;
    border-radius: .25rem;
    /* display: flex;
    flex-direction: column; */
}

.player-box {
    /* padding: 16px; */
    /* min-height: calc(var(--piece-size) + 32px); */
    display: flex;
    flex-wrap: wrap;
}

.player-box .piece {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.player-box button {
    flex: 0 0 auto;
}

#addPiece {
    margin-right: 1rem;
}

.piece {
    height: var(--piece-size);
    width: var(--piece-size);
    display: inline-block;
    box-shadow: 0px 0px .25rem 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    box-shadow: 1px 1px 0 var(--color-text);
    /* position: absolute; */
}

.player {
    background: url("https://cdn11.bigcommerce.com/s-cxrdwuin0r/images/stencil/1280x1280/products/7564/30921/$_57__56937.1578658408.JPG");
    background-size: contain;
    border: .25rem solid black;
}

.enemy {
    background: red;
    background-size: contain;
}

.container {
    position:relative;
}

.map {
    min-width: 100%;
    opacity: .85;
}

.announcements {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}