:root {
    --color-bg: #333333;
    --color-error: #a22424;
}

* {
    box-sizing: border-box;
}

body, button {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;;
    color: #ffffff;
}


button{
  background: white;
  box-shadow: 2px 2px 0 black;
  border: 2px solid black;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-weight: bold;
  font-size: .875em;
  color: var(--color-bg);
}

button[data-remove]{
  border-color: var(--color-error);
  box-shadow: 2px 2px 0 var(--color-error);
  color: var(--color-error);
}

.controls {
  border: 1px solid black;
  width: 20rem;
  padding: 1rem;
  position: fixed;
  left: 1rem;
  top: 1rem;
  bottom: 1rem;
  z-index: 1000;
  background: rgba(51, 51, 51, 0.75);
  overflow-y: auto;
}

.controls section {
  padding: 1rem 0 2rem 0;
  border-top: 1px solid black;
}

.character-list-item {
  padding: 1rem 0;
}

.form-field {
  padding: 0.5rem 0;
}

label {
  margin-right: 0.5rem;
}

label, input {
  display: block;
  width: 100%;
}

input {
  color: var(--color-bg);
  padding: .25rem;
}

.empty {
  text-align: center;
  padding: 1rem;
  font-style: italic;
}

.content {
  position: relative;
  text-align: right;
}

img {
  width: 100%;
}

.piece {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.piece-content {
  background: brown;
  border-radius: 50%;
  box-shadow: 2px 2px 0 black;
}

.piece-label {
  padding: 0.125rem;
  margin-top: .25rem;
  background: rgba(255, 255, 255, 0.75);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: normal;
  white-space: nowrap;
  max-width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;;
}

.grid-row-align-end {
  align-items: end;
}