:root {
    --piece-size: 40px;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid rgb(204, 1, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background: white;
    box-shadow: 2px 2px 0 #000;
    border: 2px solid black;
    border-radius: .25rem;
    padding: .25rem .5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .875em;
}

input {
    border: 2px solid black;
    border-radius: .25rem;
    padding: .25rem;
    font-size: .875em;
}

button:active:not(.piece) {
    background: yellow;
    /* background: #b33f2d;; */
    box-shadow: 0px 0px 0 #000;
    /* color: #d3c1a8; */
}

.controls {
    padding: 1rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

fieldset {
    display: inline-block;
    padding: 1rem;
    border-radius: .25rem;
    /* display: flex;
    flex-direction: column; */
}

.player-box {
    padding: 16px;
    min-height: calc(var(--piece-size) + 32px);
    display: flex;
    flex-wrap: wrap;
}

.player-box .piece {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.player-box button {
    flex: 0 0 auto;
}

#addPiece {
    margin-right: 1rem;
}

.piece {
    height: var(--piece-size);
    width: var(--piece-size);
    display: inline-block;
    box-shadow: 0px 0px .25rem 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    /* box-shadow: 2px 2px 0 #000; */
}

.player {
    background: url("https://cdn11.bigcommerce.com/s-cxrdwuin0r/images/stencil/1280x1280/products/7564/30921/$_57__56937.1578658408.JPG");
    background-size: contain;
    border: .25rem solid black;
}

.enemy {
    background: red;
    background-size: contain;
}

.container {
    position:relative;
}

.map {
    min-width: 100%;
}
  