@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --arrow-size: 0.4rem;
}

* {
  box-sizing: border-box;
}

*:focus {
  @apply outline-custom;
}

body,
button,
textarea,
input {
  @apply font-dnd;
}

body {
  @apply bg-black text-white scrolling-touch;
}

fieldset {
  @apply m-0 p-0;
}

button,
input,
label {
  @apply text-sm;
  line-height: normal;
}

a {
  @apply text-white;
}

h1,
h2 {
  @apply font-normal;
}

h1 {
  @apply text-2xl m-0;
}

h2 {
  @apply text-xl my-2;
}

/* button, */
.button {
  @apply text-ink bg-white inline-block shadow-button border-2 border-black py-1 px-2 rounded font-semibold tracking-wide;
}

/* button:active, */
.button:active {
  @apply shadow-none;
}

.button-outline {
  @apply text-white bg-gray bg-opacity-15 inline-block shadow-button border-2 border-gray py-1 px-2 rounded font-semibold tracking-wide;
}

.button-error {
  @apply text-error bg-transparent inline-block border border-error py-1 px-2 rounded font-semibold tracking-wide;
}

label,
input,
select {
  @apply block;
}

label {
  @apply mt-1 mb-2 ml-0;
}

input,
select {
  @apply text-ink p-1 w-full;
}

input[type="number"] {
  @apply max-w-14;
}

input[type="color"] {
  border: none;
  padding: 0;
  height: 1.75rem;
  width: 3rem;
}

input[type="file"] {
  color: white;
  padding: 0;
}

textarea {
  @apply w-full min-w-full min-h-40 p-2;
}

[type="file"]:focus + label {
  @apply outline-custom;
}

[type="file"]:active + label {
  @apply shadow-none;
}

#mainControls.collapsed {
  @apply pt-2 pb-2;
  bottom: inherit;
}

#mainControls.collapsed header {
  padding: 0;
}

#mainControls.collapsed #mainControlsContent {
  display: none;
}

.character-list-item {
  background-color: rgba(51, 51, 51, 0.75);
  border: 1px solid gray;
  @apply shadow-button;
  border-radius: 0.25rem;
  margin: 0.75rem 0;
}

.character-list-item__trigger {
  @apply shadow-none;
  padding: 0.5rem;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 1rem;
  word-break: break-word;
  letter-spacing: 0em;
}

.character-list-item__thumbnail {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.character-list-item__content {
  border-top: 1px solid gray;
  padding: 0.5rem;
}

.character-list-item__content.closed {
  display: none;
}

.map-controls {
  padding: 0.5rem 1rem;
  right: 1rem;
  display: flex;
}

.map-controls label {
  margin: 0;
}

.map-controls div + div {
  margin-left: 2rem;
}

.no-map {
  min-height: 100vh;
  background-image: url(./assets/img/grid.png);
}

.content {
  position: relative;
  padding-top: 5rem;
  /* ^leave room up top for controls when zoomed out */
  touch-action: none;
  /* ^for drag and drop to work on mobile */
}

.piece {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.piece-label {
  padding: 0.125rem;
  margin-top: 0.25rem;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: normal;
  white-space: nowrap;
  max-width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;

  @apply tracking-wide;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* since flex gap isn't well supported yet */
.content-row > *:not(:first-child) {
  @apply ml-2;
}

.arrow {
  width: 0;
  height: 0;
}

.arrow-down {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-top: var(--arrow-size) solid white;
}

.arrow-up {
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid white;
}

.radio-group input,
.radio-group label {
  display: inline-block;
  width: auto;
}

.no-map-message__header {
  font-size: 3rem;
}

.no-map-message__text {
  font-size: 1.5rem;
  line-height: 1.4;
}

.no-map-message__upload input {
  width: auto;
  margin: 0 auto;
}

.no-map-message {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  min-height: 80vh;
}

/* For Accessibility - see https://webaim.org/techniques/css/invisiblecontent/ */
.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.contact a {
  text-align: center;
  display: inline-block;
  margin: 2rem;
}

.contact button {
  margin-top: 1rem;
}

@media (max-width: 640px) {
  .map-controls {
    top: initial;
    right: initial;
    bottom: 1rem;
    left: 1rem;
  }

  .main-controls {
    bottom: 5rem;
  }
}
